.container4 {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 0;
}
.main-container {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 0;
}
.page-header {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 32px;
}
.page-header h1 {

    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;
line-height: 48px;

margin-bottom: 24px;
}
.page-header p {
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
line-height: 24px;

text-align: left;

}
.news-block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

height: 402px;
}
.news-block img {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: transparent;
    max-width: 100%;
    border-radius: 10px;
}
.news-details {
    flex: 1;
    padding: 48px;
    background-color: #fff;
}
.news-details h2 {
    background-color: #fff;
    font-size: 1.5em;
    margin: 0 0 10px;
}
.news-details .meta-info {
    font-size: 0.9em;
    background-color: #fff;
    color: #666;
    margin-bottom: 10px;
}
.news-details p {
    font-size: 20px;
    color: #333;
    background-color: transparent;
}
.btn-read-more {
    margin-top: 20px;
    padding-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}
.btn-read-more:hover {
    background-color: #004d00;
}

.sata_image{
    width: 408px;
height: 306px;
margin-top: 48px;
margin-left: 48px;
}
.news-item:nth-child(odd) {
    flex-direction: row-reverse;
}
.news-details span {
    background-color: transparent;
}