.container5 {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 0;
}

.wrapper {

    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;


}

.main-title {
    padding-left: 600px;
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    padding-top: 20px;
    padding-left: 300px;
    font-size: 1em;
    padding-bottom: 20px;
    color: #666;
    background-color: transparent;
    margin-bottom: 20px;
}

.donation-options {
    margin-left: 300px;
    display: flex;
    gap: 40px;
    margin-bottom: 20px;

}

.donation-options button {
    width: 200px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;

    cursor: pointer;
    transition: background-color 0.3s;
}

.donation-options button.active {
    background-color: #b2d8b2;
    border-color: #b2d8b2;
}

.donation-options button:hover {
    background-color: #e6e6e6;
}

.custom-donation-input {
    width: 800px;
    margin-left: 350px;
    padding: 10px;

    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.donate-button {
    background-color: #004d00;
    color: #fff;
    border: none;
    margin-left: 700px;
    width: 151px;
    height: 56px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #003300;
}

.newsletter-section {
    background-color: #b2d8b2;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.newsletter-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

    text-align: center;
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: transparent;
}

.newsletter-input {
    width: 600px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    margin-left: 200px;
    padding: 18px 40px 18px 40px;
    border-radius: 10px;

    background: rgb(255, 255, 255);
}

.newsletter-button {
    background-color: #004d00;
    color: #fff;
    border: none;
    margin-top: -1000px;
    margin-left: 1000px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-button:hover {
    background-color: #003300;
}

footer {
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

footer p {
    width: 222px;
    height: 38px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 40px;
}

.social-links {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}