.testimonial-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 1430px;
    height: 256px;
    margin: 20px;
    margin-left: -10px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 48px 24px 48px 24px;
}

.testimonial-container img {
    padding-left: 40px;
    position: absolute;
    background-color: transparent;
}

.testimonial-text {
    width: 1232px;
    height: 96px;
    font-family: Fira Sans;
    line-height: 40px;
    font-size: 20px;
    margin-left: 40px;
    background-color: transparent;
}

.testimonial-author {
    font-weight: bold;
    font-size: 24px;
    margin-left: 40px;

    margin-top: 80px;
    background-color: transparent;
}

.testimonial-position {
    color: #777;
    font-size: 15px;
    margin-top: 20px;
    background-color: transparent;
    margin-left: 40px;
}


/* style 4 */
.container3 {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 0;
}

.opinion-container {
    background-color: #ffffff;
    border-radius: 10px;

    padding: 32px;
    width: 1400px;
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin: 24px 0;
}

.opinion-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;

}

.opinion-table {
    height: 500px;
    width: 1420px;
    background-color: #929292;
}

.opinion-header,
.opinion-data {
    padding: 20px;
    background-color: #ffffff;
    text-align: left;

}

.opinion-header {
    background-color: #d1e7dd;
    font-weight: bold;
}

.opinion-data {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    color: rgb(14, 14, 14);

font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
}

.opinion-dropdown {

    background-color: #ffffff;
}

.opinion-dropdown select {
    padding: 20px;
    margin-left: 100px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: rgb(198, 228, 214);
    cursor: pointer;
    padding-left: 20px;
    color: rgb(14, 14, 14);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    text-align: left;

}